# dependencies
/node_modules

# dev tooling
.claude/
.eslintignore
.eslintrc
.github/
.storybook/
.vscode/
vite.config.ts
vite.lib.config.ts
config/vite/
yarn.lock

# storybook
src/stories/
storybook-static/

# misc
.DS_Store
*.log

# local playground
playground/
