// =============================================================================
// COLORS DOCS
// =============================================================================

.group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxsm);
  margin-bottom: var(--space-xxxlg);

  > div {
    background: var(--colors-neutral100);
    padding: var(--space-xxlg);
    margin-top: var(--space-xsm);
    border-radius: var(--radii-md);
  }
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xxsm);
}

.swatch {
  width: 48px;
  height: 48px;
  display: block;
  border-radius: var(--radii-xsm);
}
